* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    color: black;
}

:root {
    --debug-border: 1px solid red;
    --color1: lightgrey;
}

/* basic styling */
.header-bar {
    min-height: 10vh;
}

h1 {
    font-size: 32px;
    padding: 0 1em;
    float: left;
}

.nav-links {
    float: right;
    display: flex;
    ul {
        list-style-type: none;
        background-color: transparent;
        display: inline-block;
        padding: 20px 30px;
        position: relative;
        transition: 0.5s;
        a {
            text-decoration: none;
            font-size: 24px;
            transition: 0.7s;
            padding: 0 35px;
        }
    }
}

nav .fab {
    display: flex;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.site-name {
    border: var(--debug-border);
    display: flex;
}

nav {
    display: flex;
    background-color: var(--color1);
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#navbar {
    display: flex;
    border: var(--debug-border);
}