@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

@theme {
  --primary: #faab00;
}

@utility darkmode {
  background-color: #000;
  text-color: #fff;
}

@utility active-mobile {
  transform: translate(100%, 0);
  box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.2);
}

@utility mobile-return {
  right: 0;
}

@layer base {
  :root {
  }
}

@layer components {
  .debug1 {
    @apply border border-red-500;
  }

  .debug2 {
    @apply border border-green-500;
  }

  .debug3 {
    @apply border border-blue-500;
  }

  .email-button {
    @apply cursor-pointer rounded-2xl bg-green-500 p-4 text-2xl text-white drop-shadow-md;
  }

  .green-button {
    @apply mx-auto my-10 w-full cursor-pointer rounded-full bg-green-500 py-3 text-2xl text-white drop-shadow-lg;
  }

  .card {
    @apply relative mx-5 h-80 min-w-1/4 snap-start rounded-3xl bg-[url(https://placehold.co/1920x1080)] bg-cover bg-center bg-no-repeat;
  }
  .calc-button {
    @apply h-25 w-25 cursor-pointer rounded-full text-white shadow-[-8px_-8px_10px_rgba(255,255,255,0.1),8px_8px_10px_rgba(0,0,0,0.1)];
  }
}
